.orcamento-detalhes {
  display: none;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-0);
  padding: 18px;
  border-radius: 4px;
  align-items: center;
}
.orcamento-detalhes li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}
.orcamento-detalhes li img {
  width: 16px;
}
